@charset "utf-8";

@font-face{
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Light.subset.woff2') format('woff2'),
	    url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Light.subset.woff') format('woff');
}
@font-face{
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Regular.subset.woff2') format('woff2'),
	    url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Regular.subset.woff') format('woff');
}
@font-face{
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Medium.subset.woff2') format('woff2'),
	    url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Medium.subset.woff') format('woff');
}
@font-face{
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-SemiBold.subset.woff2') format('woff2'),
	    url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-SemiBold.subset.woff') format('woff');
}
@font-face{
	font-family:'Pretendard';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Bold.subset.woff2') format('woff2'),
	    url('https://cdn.cuckoo.co.kr/upload_cuckoo/_fonts/mo/Pretendard-Bold.subset.woff') format('woff');
}