@charset "UTF-8";

/* reset */

* {
    margin:0px;
    padding:0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color:#272727;
}

p {
    margin:0px;
    padding:0px;
}


#icon svg polyline, path {
    fill:inherit;
    stroke:inherit;
}


div {
    box-sizing: border-box;
}


/* root */

:root {
    --color-primary: #ff5b53;
    --color-secondary: #f3332b;
    --color-txt : #272727;
    --color-dark: #585856;
    --color-darkgray : #767676;
    --color-gray: #f7f7f7;
    --color-line: #eaeaea;
    --font-normal : 16px;
    --font-small: 14px;
    --font-mid: 20px;
    --font-big : 32px;
    --radius: 16px;
    --obj-size-small: 28px;
    --obj-size-mid: 32px;
    --obj-size-big: 40px;
}


/* common */


html, body {
    font-family: Gotham, "Noto Sans KR", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#272727;
}


body {
    background:#fff;
}


.icon-svg {
    width:0px;
    height:0px;
}





/* header */







/* visual */



/*  footer  */

