@charset "UTF-8";

/* reset */

* {
    margin:0px;
    padding:0px;
}

ul, ol {
    list-style: none;
}

p {
    margin:0px;
    padding:0px;
}

/* common */


html, body {
    font-family: Gotham, "Noto Sans KR", "Apple SD Gothic Neo", AppleGothic, "돋움", Dotum, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#272727;
}


body {
    background:#fff;
}




/* header */







/* visual */



/*    */