@charset "UTF-8";

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    color: inherit;
    font: inherit;

    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

/* festa - common */

.festa-container {
    font-family:var(--font);
    width:100%;
}

.festa-container #module {
    position:relative;
    width:100%;
}

.rc-area .wrap, .coupon-area .wrap {
    width:1200px;
    margin:0 auto;
}

/* festa - top */

.module-top {
    width:100%;
}

.visual-area {
    max-width:1920px;
    height:800px;
    background:url(../images/banner.gif) center center no-repeat;
    margin: 0 auto;
}


/* festa - coupon */

.module-coupon {
    background-repeat: no-repeat;
    background-position: top center;;
    background-size:1920px;
}

/* festa - coupon // random coupon */

.rc-area {
    width:100%;
    padding:100px 0px 0px;
}

.rc-area .wrap {
    width:1200px;
    margin:0 auto;
}

.rc-area .rc-tit {
    width:100%;
    padding:0px 0px 50px;
}

.rc-area .rc-tit .subTxt {
    width:100%;
    font-size:var(--font-mid);
    text-align:center;
}

.rc-area .rc-tit .tit {
    width:100%;
    font-size:48px;
    padding:20px 0px 0px;
    text-align:center;
}

.rc-area .rc-coupon-img {
    width:100%;
    min-height:200px;
    text-align:center;
}

.rc-area .rc-btn {
    display:block;
    width:300px;
    height:60px;
    color:#fff;
    background:var(--color-txt);
    font-size:var(--font-mid);
    border-radius: var(--radius-big);
    cursor:pointer;
    margin:40px auto 0px;
}

/* festa - coupon // coupon and information */

.coupon-area {
    width:100%;
    padding:100px 0px;
}

.coupon-area .coupon-tit {
    font-size:var(--font-big);
    font-weight: 700;
    text-align:center;
    margin-bottom:40px;
}

.coupon-area .coupon-list {
    width:995px;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto 40px;
}

.coupon-area .coupon-list .coupon-item {
    display:flex;
    background:url(../images/coupon_bg.svg) center center no-repeat;
    width:480px;
    height:120px;
    margin:5px 0px;
}

.coupon-area .coupon-list .coupon-item:nth-child(odd) {
    margin-right:calc(35px / 2);
}

.coupon-area .coupon-list .coupon-item:nth-child(even) {
    margin-left:calc(35px / 2);
}

.coupon-area .coupon-list .coupon-item .coupon-txt {
    display:flex;
    flex-direction: column;
    width:calc(100% / 2 - 40px);
    margin-left:40px;
    align-self:center;
}

.coupon-item .coupon-txt .name {
    font-size:var(--font-normal);
    font-weight: 700;
    margin-bottom:5px;
}

.coupon-item .coupon-txt .subTxt {
    font-size:var(--font-small);
    color:var(--color-darkgray);
}

.coupon-area .coupon-list .coupon-item .coupon-sale {
    display:flex;
    width:calc(100% / 2 - 40px);
    justify-content: right;
    margin-right:40px;
    align-self:center;
}

.coupon-item .coupon-sale .sale-num {
    font-size:40px;
    font-weight:700;
}

.coupon-item .coupon-sale .sale-unit {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0px 0px 5px;
    align-self:center;
}

.coupon-all-btn .coupon-all-download {
    display:block;
    width:300px;
    height:60px;
    color:#fff;
    background:var(--color-txt);
    font-size:var(--font-mid);
    border-radius: var(--radius-big);
    cursor:pointer;
    margin:40px auto 0px;
}

/* festa - nav */

.module-nav {
    width:100%;
}

.module-tab {
    width:100%;
}

.module-tab .week-wrap {
    width:100%;
    background:#272727;
}

.module-tab .week-wrap .week-list {
    display:flex;
    width:1200px;
    margin:0 auto;
}

.week-list li.week-item {
    width:calc(100% / 4);
    flex-shrink: 0;
    box-sizing:border-box;
    border-left:1px solid #555;
    border-right:1px solid #555;
}

.week-list li.week-item a {
    display: flex;
    flex-direction: column;
    width:calc(100% - 40px);
    padding:20px;
    color:var(--color-mid-gray);
}

.week-list li.week-item a .item-subTxt {
    font-size:var(--font-small);
    font-weight: 700;
    margin-bottom:5px;
}

.week-list li.week-item a .item-name {
    font-size:24px;
}

.week-list li.week-item.on {
    background:#fff;
}

.week-list li.week-item.on .item-subTxt {
    background:#fff;
    color:#523CA0;
}

.week-list li.week-item.on .item-name {
    background:#fff;
    color:#9070E5;
}

.sub-event-wrap,
.main-event-wrap {
    width:100%;
    background:#fff;
}

.sub-event-wrap .sub-event-list,
.main-event-wrap .main-event-list {
    width:1200px;
    margin:0 auto;
    display: flex;
    overflow: hidden;
    gap: 30px;
}

.sub-event-list .sub-event-item,
.main-event-list .main-event-item {
    min-width:80px;
    padding:25px 20px;
}

.sub-event-list .sub-event-item a,
.main-event-list .main-event-item a {
    display:flex;
}

.sub-event-list .sub-event-item a svg,
.main-event-list .main-event-item a svg {
    width:0px;
    height:0px;
    opacity: 0;
    transition: width .1s ease-in-out, opacity .6s ease-in-out;
    align-self:center;
}

.sub-event-list .sub-event-item a p,
.main-event-list .main-event-item a p {
    font-size:var(--font-small);
    color:var(--color-mid-gray);
    margin-left:0px;
}

.sub-event-list .sub-event-item.on a svg,
.main-event-list .main-event-item.on a svg {
    width:12px;
    height:12px;
    color:#523CA0;
    opacity:1;
    font-weight: 700;
}

.sub-event-list .sub-event-item.on a p,
.main-event-list .main-event-item.on a p {
    width:calc(100% - 17px);
    color:#523CA0;
    font-weight:700;
    margin-left:5px;
}



/* festa - section // product */

.fe-content {
    width:1200px;
    margin:40px auto 100px;
}

.product-wrap {
    width:100%;
    position:relative;
}

.product-wrap .product-track {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap:30px;
}

.product-wrap .product-track .product-item {
    width: calc(100% / 4 - 30px);
}

.product-track .product-item .product-thum {
    display:flex;
    width:278px;
    height:278px;
    background:#f1f1f1;
    border-radius: var(--radius-mid);
    overflow:hidden;
    justify-content: center;
}

.product-track .product-item .product-thum > img {
    display:block;
    align-self:center;
    width:100%;
}


.product-track .product-item .product-info {
    margin-top:20px;
    padding:0 10px;
}

.product-item .product-info .product-name {
    display: -webkit-box;
    height:52px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -box-orient: vertical;
    font-weight: 500;
    font-family: var(--font);
}

.product-item .product-info .product-code {
    display:block;
    color: var(--color-darkgray);
    font-family: var(--font);
    font-size: var(--font-small);
    margin:0px 0px 5px;
}

.product-price {
    padding:0 10px;
    display:flex;
    flex-wrap: wrap;
}

.product-price .regular-price {
    display:flex;
    width:100%;
    color:var(--color-mid-gray);
    margin-bottom:5px;
    font-family: var(--font);
    text-decoration: line-through;
}

.product-price .regular-price > span {
    margin-left:2px;
}

.product-price .price-per {
    display: flex;
    width:50px;
    color:var(--color-secondary);
}

.product-price .price-per > b {
    font-size:var(--font-mid);
    font-family: var(--font);
    align-self: center;
}

.product-price .price-per > span {
    align-self: center;
    font-weight: 500;
    margin-left:2px;
}

.product-price .discount-price {
    width:calc(100% - 50px);
    display:flex;
}

.product-price .discount-price > p {
    font-size:var(--font-mid);
    font-weight: 900;
    font-family: var(--font);
    align-self: center;
}

.product-price .discount-price > span {
    align-self:center;
    margin-left:2px;
}


/* festa - event banner // cc live */

.module-banner {
    padding:100px 0px;
}

.banner-area {
    width:1200px;
    margin:0px auto 0px;
}

.banner-area .cc-live-section {
    width:100%;
    margin-bottom:100px;
}

.cc-live-section .cc-live-tit {
    font-size:var(--font-big);
    text-align:center;
    font-weight: 700;
    margin:20px 0px 40px;
}

.cc-live-tab {
    display:flex;
    min-width:150px;
    margin:0 auto 40px;
    justify-content: center;
}

.cc-live-tab li {
    padding:0px 5px;
}

.cc-live-tab li a {
    display:flex;
    background:#fff;
    border-radius: var(--radius-mid);
    border:1px solid var(--color-line);
    padding:5px 20px;
    justify-content: center;
    cursor:pointer;
}

.cc-live-tab li a svg {
    width:0px;
    height:0px;
    opacity: 0;
    transition: width .1s ease-in-out, opacity .6s ease-in-out;
    align-self:center;
}

.cc-live-tab li.on a {
    background:var(--color-txt);
    color:#fff;
}

.cc-live-tab li.on a svg {
    width:10px;
    height:10px;
    opacity: 1;
}

.cc-live-tab li.on a span {
    margin-left:10px;
}

.cc-live-section .cc-live-content {
    width:100%;
    height:500px;
    overflow:hidden;
    border-radius: var(--radius-mid);
}

.cc-live-content .cc-live-item {
    position:relative;
    width:100%;
    height:500px;
}

.cc-live-content .cc-live-item:before {
    position:absolute;
    content:"";
    display: block;
    width:100%;
    height:100%;
    background:linear-gradient(transparent, rgba(0,0,0,0.5));
    left:0px;
    bottom:0px;
}

.cc-live-content .cc-live-item .cc-live-txt {
    position:absolute;
    display:flex;
    width: calc(100% - 100px);
    bottom:0px;
    left:0px;
    color:#fff;
    padding:0px 50px 40px;
}

.cc-live-content .cc-live-item .cc-live-txt .sub {
    width:80%;
    font-size:var(--font-normal);
    margin-bottom:5px;
}

.cc-live-content .cc-live-item .cc-live-txt .tit {
    width:80%;
    font-size:var(--font-big);
}

/* festa - event banner // evnet */

.banner-area .event-banner-section {
    width:100%;
}

.event-banner-section .event-banner-tit {
    font-size:var(--font-big);
    text-align:center;
    font-weight: 700;
    margin:20px 0px 40px;
}

.banner-event {
    display:flex;
    flex-wrap: wrap;
    gap:40px;
}

.banner-item {
    position:relative;
    height:400px;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: var(--radius-mid);
    overflow:hidden;
}

.banner-item a {
    position:relative;
    display:block;
    width:100%;
    height:100%;
    cursor:pointer;
}

.banner-event .col-1 {
    width:100%;
}

.banner-event .col-2 {
    width:calc(100% / 2 - 20px);
}

.banner-item:before {
    position:absolute;
    content:"";
    display: block;
    width:100%;
    height:100%;
    background:linear-gradient(transparent, rgba(0,0,0,0.5));
    left:0px;
    bottom:0px;
}

.banner-item .banner-item-txt {
    position:absolute;
    width: calc(100% - 100px);
    bottom:0px;
    left:0px;
    color:#fff;
    padding:0px 50px 40px;
}

.banner-item .banner-item-txt .sub {
    font-size:var(--font-normal);
    margin-bottom:5px;
}

.banner-item .banner-item-txt .tit {
    font-size:var(--font-big);
}