@charset "UTF-8";


/* -------- footer -------- */

.rn-footer {
    width: 100%;
    background: var(--color-dark);
    color: #999;
}

.rn-footer .footer-cs {
    border-bottom:1px solid var(--color-darkgray);
}

.rn-footer .footer-cs .footer-cs-wrap {
    display:flex;
    width:1200px;
    margin:0 auto;
}

/* 고객센터 */

.footer-cs .footer-cs-wrap .cs-info-wrap {
    width:730px;
    padding:30px 0px;
    border-right:1px solid var(--color-darkgray);
}

.footer-cs .footer-cs-wrap .cs-info-wrap > h4 {
    color:#fff;
    font-size: var(--font-mid);
    font-weight: 500;
    margin-bottom:20px;
}

.footer-cs .footer-cs-wrap .cs-info-wrap .tel-list {
    display:flex;
    color: #fff;
}

.footer-cs .footer-cs-wrap .cs-info-wrap .tel-list li {
    display:flex;
    width:calc(100% / 3);
}

.footer-cs .footer-cs-wrap .cs-info-wrap .tel-list li .tel-tit {
    color: var(--color-line);
    font-size: var(--font-normal);
    font-weight: 200;
    margin-right:10px;
    align-self:center;
}

.footer-cs .footer-cs-wrap .cs-info-wrap .tel-list li .tel {
    font-size: var(--font-mid);
    font-family: var(--font);
    font-weight: 700;
    align-self:center;
}

/* 상담시간 */

.footer-cs .footer-cs-wrap .cs-time-wrap {
    width: calc(100% - 730px);
    padding:30px 0px 30px 30px;
}

.footer-cs .footer-cs-wrap .cs-time-wrap > h4 {
    color:#fff;
    font-size: var(--font-mid);
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-cs .footer-cs-wrap .cs-time-wrap .cs-time {
    color: var(--color-line);
}

/*  fnb 01 */

.rn-footer .footer-fnb01 {
    border-bottom:1px solid var(--color-darkgray);
}

.footer-fnb01 nav.rn-fnb {
    width:1200px;
    display:flex;
    margin:0 auto;
}

nav.rn-fnb .fnb-wrap {
    display:flex;
    padding:20px 0px;
    align-self:center;
}

nav.rn-fnb .site-link {
    margin-right:auto;
}

nav.rn-fnb .site-link > li {
    display:flex;
    font-family: var(--font);
}

nav.rn-fnb .site-link li:after {
    content:"|";
    color:var(--color-darkgray);
    margin:0 20px;
    align-self:center;
}
nav.rn-fnb .site-link li:last-child:after {
    display: none;
}

nav.rn-fnb .site-link li a {
    color:var(--color-line);
    font-size:var(--font-small);
    transition: color 0.3s;
    cursor:pointer;
}

nav.rn-fnb .site-link li a:hover {
    color:#fff;
}

nav.rn-fnb .site-sns {
    margin-left:auto;
}

nav.rn-fnb .site-sns > li {
    margin-left:30px;
}

nav.rn-fnb .site-sns > li a {
    color:var(--color-mid-gray);
}

nav.rn-fnb .site-sns > li a > svg {
    fill:var(--color-mid-gray);
    transition: all 0.3s;
}

nav.rn-fnb .site-sns > li a:hover {
    color :#fff;
}


/* 쿠쿠안내 & family site */

.rn-footer {
    position:relative;
}

.rn-footer .footer-fnb02 {
    width:100%;
}

.footer-fnb02 .family-wrap {
    display:flex;
    width:1200px;
    margin:0 auto;
}

.footer-fnb02 .family-wrap .company-link {
    display:flex;
    align-self:center;
}

.footer-fnb02 .family-wrap .company-link li {
    display:flex;
    font-family: var(--font);
    align-self:center;
    margin-right:40px;
}

.footer-fnb02 .family-wrap .company-link li p {
    color:#fff;
}

.footer-fnb02 .family-wrap .company-link li a {
    color:var(--color-line);
    font-size: var(--font-small);
    transition: all 0.3s;
}

.footer-fnb02 .family-wrap .company-link li a:hover {
    text-decoration: underline;
}

/* 패밀리 사이트 */

.footer-fnb02 .family-wrap .family-site {
    width:200px;
    position:relative;
    margin-left:auto;
    align-self:center;
}

.family-wrap .family-site .family-label {
    display:flex;
    background: #666;
    color: var(--color-line);
    font-size: var(--font-small);
    margin-top:20px;
    padding:10px 20px;
    border-radius: var(--radius-big);
    border: 1px solid var(--color-darkgray);
    justify-content: center;
    cursor:pointer;
}

.family-wrap .family-site .family-label em {
    width:calc(100% - 10px);
    align-self:center;
}

.family-wrap .family-site .family-label svg {
    width:10px;
    height:10px;
    position: relative;
    fill:var(--color-line);
    align-self:center;
    transition:all 0.2s;
}

.family-wrap .family-site .family-label svg.on {
    transform:rotate(180deg);
}

.family-wrap .family-site .family-list {
    position:absolute;
    width: calc(100% - 40px);
    top:70px;
    left:0px;
    background:#666;
    border-radius: var(--radius-mid);
    padding:10px 20px 0px;
    z-index:1;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
}

.family-wrap .family-site .family-list li {
    padding:0 0px 10px;
    font-size: var(--font-small);
}

.family-wrap .family-site .family-list li a {
    display:block;
    color:#eee;
    transition: all 0.3s;
}

.family-wrap .family-site .family-list li a:hover {
    color:#fff;
    font-weight: 700;
}

.family-site .family-list li.global {
    border-top:1px solid var(--color-darkgray); 
}

.family-site .family-list li .global-link {
    margin:10px 0px 0px;
}

/* 회사정보 */

.footer-company {
    width:1200px;
    margin:0 auto;
}

.footer-company .company-address {
    display:flex;
    width: calc(100% - 200px);
    padding:40px 0px 20px;
    margin-right:200px;
}

.footer-company .company-address > ul {
    width: calc(100% / 3);
}

.footer-company .company-address > ul li {
    font-size: var(--font-small);
    margin-bottom:5px;
}

.footer-company .company-address > ul li:nth-child(1) {
    margin-bottom:10px;
    color:var(--color-mid-gray);
}

.footer-company .company-address > ul li > svg.icon {
    min-width:200px;
    fill:var(--color-mid-gray);
}

.footer-company .company-address > ul li a {
    color:var(--color-mid-gray);
    cursor:pointer;
    transition: all 0.3s;
}

.footer-company .company-address > ul li a:hover {
    color:var(--color-line);
}

.footer-company .footer-txt {
    font-size: var(--font-small);
    padding:20px 0px 40px;
}


/* -------- 따라다니는 메뉴 -------- */

.floating-quick {
    position:fixed;
    z-index:99;
    bottom:50px;
    right:20px;
}

.floating-quick.stop {
    position:absolute;
    top:-170px;
}

.floating-quick .inner {
    position:relative;
}

.floating-quick .cs-btn {
    position:relative;
    display:flex;
    width:60px;
    height:60px;
    background: var(--color-primary);
    text-indent:-9999px;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
    cursor:pointer;
    margin-left:auto;
    color:#fff;
}

.floating-quick .cs-btn > svg.icon {
    width: var(--obj-size-big);
    height: var(--obj-size-big);
    align-self:center;
    fill:#fff;
}

.floating-quick .top-btn {
    margin-top:15px;
    position:relative;
    display:flex;
    width:60px;
    height:60px;
    background: #fff;
    text-indent:-9999px;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
    cursor:pointer;
    margin-left:auto;
}

.floating-quick .top-btn > svg.icon {
    align-self:center;
}

.cs-btn-wrap {
    position:absolute;
    right:0px;
    bottom:70px;
    width:150px;
    z-index:99;
}

.cs-btn-wrap > .cs-close {
    position:absolute;
    display:flex;
    top:-40px;
    right:10px;
    width: var(--obj-size-mid);
    height: var(--obj-size-mid);
    justify-content: right;
    cursor: pointer;
}

.cs-btn-wrap > .cs-close > svg {
    width:16px;
    height:16px;
    align-self:center;
}

.cs-btn-wrap > .cs-btn-list {
    width:100%;
    background:#fff;
    border-radius: var(--radius-mid);
    box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
    padding-top:5px;
}

.cs-btn-wrap > .cs-btn-list li {
    padding:0px 10px 5px;
}

.cs-btn-wrap > .cs-btn-list button {
    display:flex;
    width:100%;
    background:transparent;
    font-size:var(--font-small);
    border:none;
    cursor: pointer;
    padding:8px 10px;
    justify-content: space-between;
}

.cs-btn-wrap > .cs-btn-list button > svg {
    margin-left:10px;
    align-self:center;
}