@charset "UTF-8";

/* ------------------------------------ popup ------------------------------------

.main-pop-wrap - 메인 팝업
.search-modal-wrap - 검색창 모달
.cart-popup-wrap - 카트 팝업
.visual-detail-wrap - 메인 빌보드 전체보기 팝업

---------------------------------------------------------------------------------- */


/* -------- 메인팝업 -------- 
// 241030 main-popup-wrap 수정
----------------------------*/

.main-popup-wrap {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    justify-content: center;
}

.main-popup-wrap::before {
    position:fixed;
    width:100%;
    height:100%;
    content:"";
    top:0px;
    left:0px;
    background: rgba(0,0,0,0.4);
}

.main-popup-wrap .main-popup {
    display:flex;
    flex-direction: column;
    width:400px;
    height:auto;
    background:#fff;
    border-radius: var(--radius-mid);
    align-self:center;
    z-index:1000;
    overflow:hidden;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.2);
}

.main-popup .main-popup-content {
    position:relative;
    width:100%;
    height:544px;
}

.main-popup .main-popup-content .main-popup-track {
    display:flex;
    width:400px;
    overflow:hidden;
}

.main-popup-content .main-popup-track .main-popup-item {
    flex-shrink: 0;
    width:400px;
}

.main-popup-content .main-popup-track .main-popup-item a {
    display:block;
    width:100%;
    height:100%;
}

.main-popup-content .main-popup-track .main-popup-item a > img {
    display: block;
    width:100%;
}

.main-popup .main-popup-content .main-popup-arrow {
    width:100%;
}

.main-popup .main-popup-content .main-popup-arrow > a {
    display:flex;
    position:absolute;
    bottom: calc(100% / 2 - 20px);
    width:25px;
    height:40px;
    background:rgba(0,0,0,0.3);
    justify-content: center;
    cursor: pointer;
    color:#fff;
}

.main-popup .main-popup-content .main-popup-arrow > a.popup-prev {
    border-radius: 0px 3px 3px 0px;
    left:0px;
}

.main-popup .main-popup-content .main-popup-arrow > a.popup-next {
    border-radius: 3px 0px 0px 3px;
    right:0px;
}

.main-popup .main-popup-content .main-popup-arrow > a > svg.icon {
    fill:#fff;
    align-self:center;
    width:16px;
    height:16px;
}

.main-popup .main-popup-content .main-popup-page {
    position:absolute;
    bottom:20px;
    right:20px;
    font-family: var(--font);
    background: rgba(0,0,0,0.45);
    color : var(--color-line);
    border-radius: var(--obj-size-mid);
    padding:2px 15px;
    font-weight: 200;
    font-size: var(--font-small)
}

.main-popup .main-popup-content .main-popup-page .slick-dots {
    position:static;
}

.main-popup .main-popup-content .main-popup-page  span,
.main-popup .main-popup-content .main-popup-page  b,
.main-popup .main-popup-content .main-popup-page  em {
    text-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}

.main-popup .main-popup-content .main-popup-page  b.now {
    color:#fff;
}

.main-popup .main-popup-content .main-popup-page  em {
    display:inline-block;
    margin:0 4px;
}

.main-popup .main-popup-footer {
    display:flex;
    width:100%;
    height:60px;
    background:#fff;
    margin-top:auto;
    padding:20px;
    justify-content: space-around;
}

.main-popup .main-popup-footer > a {
    width:calc(100% / 2);
    flex-shrink: 0;
    align-self:center;
    cursor: pointer;
    text-align:center;
}

.main-popup .main-popup-footer > a.today-close {
    border-right:1px solid var(--color-line);
}

/* -------- 검색창 모달 -------- */

.search-modal-wrap {
    top:0px;
    position:fixed;
    width:100%;
    height:100%;
    z-index:999;
    overflow:hidden;
    scrollbar-width: none; /* 파이어폭스 */
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
}

.search-modal-wrap::before {
    position:fixed;
    content:"";
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    background:rgba(0,0,0,0.5);
    overflow:hidden;
    scrollbar-width: none; /* 파이어폭스 */
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
}

.search-modal {
    position:relative;
    width:100%;
    height:600px;
    background:#fff;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
    z-index:9999;
}

.search-modal .inner {
    width:600px;
    margin:0 auto;
}

form.rn-search-form {
    position:relative;
    width:100%;
    padding:40px 0px;
}

form.rn-search-form input.rn-search-input {
    display:block;
    width:100%;
    background: var(--color-gray);
    border:none;
    border-radius: var(--radius-big);
    font-size:var(--font-normal);
    padding:15px;
    box-sizing:border-box;
}

form.rn-search-form input.rn-search-input::placeholder {
    color: var(--color-mid-gray);
}

form.rn-search-form .rn-search-del {
    position:absolute;
    display:flex;
    top:50%;
    right:60px;
    background: var(--color-mid-gray);
    width: 22px;
    height: 22px;
    border-radius: var(--obj-size-mid);
    border:none;
    justify-content: center;
    transform:translateY(-50%);
    cursor: pointer;
    color:#fff;
}

form.rn-search-form .rn-search-del > svg {
    fill:#fff;
    width:10px;
    height:10px;
    align-self: center;
}

form.rn-search-form .rn-search-icon {
    position:absolute;
    display:flex;
    top:50%;
    right:15px;
    width: var(--obj-size-mid);
    height: var(--obj-size-mid);
    transform:translateY(-50%);
    background:none;
    border:none;
    justify-content: center;
    cursor: pointer;
}

form.rn-search-form .rn-search-icon > svg {
    width:24px;
    height:24px;
    align-self:center;
}

.search-keyword-wrap {
    display:flex;
    width:100%;
    gap:20px;
}

.search-keyword-wrap > div {
    width:calc(100% / 2 );
    display:flex;
    flex-direction: column;
}

.search-keyword-wrap > div .keyword-tit {
    font-size: var(--font-normal);
    font-weight: 700;
    margin-bottom:20px;
}

.recent_keyword-wrap .recent-keyword-list {
    display:flex;
    flex-wrap: wrap;
}

.recent_keyword-wrap .recent-keyword-list .keyword-item {
    display: flex;
    color: var(--color-darkgray);
    font-size:var(--font-small);
    border:1px solid var(--color-line);
    padding:5px 5px 5px 10px;
    border-radius: var(--radius-mid);
    cursor: pointer;
    margin:0px 10px 5px 0px;
}

.recent_keyword-wrap .recent-keyword-list .keyword-item em {
    align-self: center;
}

.recent-keyword-list .keyword-item .keyword-delete {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-self:center;
    margin-left:5px;
}

.recent-keyword-list .keyword-item .keyword-delete > svg {
    width:12px;
    height:12px;
    align-self: center;
}

.recent-keyword-list .no-keyword {
    width:100%;
    height:100%;
    color:var(--color-mid-gray);
    padding: 5px 0px;
}

.popular_keyword-wrap .keyword-rank {
    display:flex;
    flex-direction: column;
    counter-reset : key-ranking;
}

.popular_keyword-wrap .keyword-rank li {
    margin:0px 0px 14px;
}

.popular_keyword-wrap .keyword-rank li a {
    display: flex;
    cursor:pointer;
    padding:0 10px 0 0;
}

.popular_keyword-wrap .keyword-rank li a:before {
    display: flex;
    width:20px;
    font-weight: 700;
    font-family: var(--font);
    margin-right:15px;
    counter-increment: key-ranking;
    content: counter(key-ranking)'.';
}

.popular_keyword-wrap .keyword-rank li:nth-child(1) a:before,
.popular_keyword-wrap .keyword-rank li:nth-child(2) a:before {
    color:var(--color-secondary);
}

.popular_keyword-wrap .keyword-rank li a .keyword-txt {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}


/* 카트 팝업 // 241101 추가 */

.cart-popup-wrap {
    display:none;
    position:fixed;
    width:100%;
    min-width:100%;
    height:100%;
    min-height:100%;
    top:0px;
    left:0px;
    z-index:20;
}

.cart-popup-wrap:before {
    content:"";
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:20;
}

.cart-popup-wrap .cart-popup {
    position:absolute;
    top:100px;
    left:50%;
    width:870px;
    background:#fff;
    padding: 50px 0px;
    border-radius: var(--radius-mid);
    box-shadow:0px 0px 14px rgba(0,0,0,0.1);
    transform:translateX(-50%);
    z-index:20;
}

.cart-popup .cart-popup-header {
    position:relative;
    display:flex;
    padding:0 50px;
    margin-bottom:50px;
}
.cart-popup .cart-popup-header .title-txt {
    font-size: var(--font-big);
    margin-bottom:10px;
}


.cart-popup .cart-popup-header a.cart-popup-close {
    position:absolute;
    display:flex;
    width: var(--obj-size-mid);
    height: var(--obj-size-mid);
    right:20px;
    top:-30px;
    justify-content: center;
    cursor:pointer;
}

.cart-popup .cart-popup-header a.cart-popup-close svg {
    width:20px;
    height:20px;
    align-self:center;
}

.cart-popup .cart-popup-content {
    display:flex;
    padding:0 50px;
}

.cart-popup .cart-popup-content .mall-box-wrap,
.cart-popup .cart-popup-content .rental-box-wrap,
.cart-popup .cart-popup-content .subs-box-wrap {
    display:flex;
    flex-direction: column;
    width:calc(100% / 3);
    border-right:1px solid var(--color-line);
}

.cart-popup .cart-popup-content .subs-box-wrap {
    border-right:none;
}

.cart-popup .cart-popup-content .mall-box-wrap .sub-title,
.cart-popup .cart-popup-content .rental-box-wrap .sub-title,
.cart-popup .cart-popup-content .subs-box-wrap .sub-title {
    width:100%;
    text-align:center;
}

.mall-box-wrap .mall-box-ctn .mall-cart,
.rental-box-wrap .rental-box-ctn .rental-cart,
.subs-box-wrap .subs-box-ctn .subs-cart {
    position:relative;
    width:140px;
    height:140px; 
    margin:20px auto;
    border-radius: 100%;
}

.mall-box-wrap .mall-box-ctn .mall-cart {
    background:url('../images/cart_icon.png')center center no-repeat #fce8e9;
}

.rental-box-wrap .rental-box-ctn .rental-cart {
    background:url('../images/rental_icon.png') center center no-repeat #e2edf1;
}

.subs-box-wrap .subs-box-ctn .subs-cart {
    background:url('../images/regular_icon.png') center center no-repeat #e4f1e2;
}

.mall-cart .mall-cart-num,
.rental-cart .rental-cart-num,
.subs-cart .subs-cart-num {
    position:absolute;
    right:10px;
    top:5px;
    display:flex;
    width:var(--obj-size-mid);
    height:var(--obj-size-mid);
    justify-content: center;
    background:var(--color-primary);
    border-radius: var(--radius-mid);
    color:#fff;
    font-weight: 700;
    line-height: var(--obj-size-mid); 
}

.mall-box-wrap .mall-box-ctn,
.rental-box-wrap .rental-box-ctn,
.subs-box-wrap .subs-box-ctn {
    margin-bottom:30px;
    text-align:center;
}

.mall-box-wrap .mall-box-ctn .mall-cart-txt,
.rental-box-wrap .rental-box-ctn .rental-cart-txt,
.subs-box-wrap .subs-box-ctn .subs-cart-txt { 
    padding: 0 20px;
}

.mall-box-wrap .mall-box-ctn .mall-cart-txt .cart-num,
.rental-box-wrap .rental-box-ctn .rental-cart-txt .cart-num,
.subs-box-wrap .subs-box-ctn .subs-cart-txt .cart-num { 
    font-weight: 700;
    font-family: var(--font);
}

.mall-box-wrap .mall-box-btn,
.rental-box-wrap .rental-box-btn,
.subs-box-wrap .subs-box-btn {
    display:flex;
    flex-direction: column;
    padding: 0 20px;
    text-align:center;
    margin-top:auto;
}

.mall-box-wrap .mall-box-btn a,
.rental-box-wrap .rental-box-btn a,
.subs-box-wrap .subs-box-btn a {
    padding:20px 20px;
    border-radius: var(--obj-size-mid);
    border:1px solid var(--color-line);
    transition: all 0.3s;
}

.mall-box-wrap .mall-box-btn a:hover,
.rental-box-wrap .rental-box-btn a:hover,
.subs-box-wrap .subs-box-btn a:hover {
    background: var(--color-black);
    color:#fff;
}


/* 메인빌보드 전체보기 팝업 // 241104 수정 */

.visual-detail-wrap {
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
    top:0px;
    left:0px;
    z-index:999;
    justify-content: center;
}

.visual-detail-wrap:after {
    position:fixed;
    content:"";
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    top:0px;
    left:0px;
}

.visual-detail-wrap .visual-detail-modal {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:860px;
    height: 600px;
    background:#fff;
    align-self:center;
    border-radius: var(--radius-mid);
    z-index:1000;
    overflow:hidden;
}

.visual-detail-wrap .visual-detail-modal .vs-modal-header {
    display:flex;
    padding:15px 20px;
    border-bottom:1px solid var(--color-line);
}

.visual-detail-modal .vs-modal-header .tit {
    font-size: var(--font-normal);
    font-weight: 700;
    align-self: center;
}

.visual-detail-modal .vs-modal-header .vs-close {
    display: flex;
    width:28px;
    height:28px;
    margin-left:auto;
    justify-content: center;
    cursor:pointer;
}

.visual-detail-modal .vs-modal-header .vs-close > svg.icon {
    width:16px;
    height:16px;
    align-self:center;
}

.visual-detail-modal .vs-modal-content {
    width: calc(100% - 5px);
    height:calc(100% - 60px);
    margin-right:5px;
    overflow-y:scroll;
}

.visual-detail-modal .vs-modal-content .vs-detail {
    display:flex;
    flex-direction: row;
    padding-top:20px;
    flex-wrap: wrap;
}

.vs-modal-content .vs-detail .vs-detail-item {
    width:calc(100% / 2 - 60px);
    padding:0px 30px 20px;
}

.vs-detail .vs-detail-item .vs-detail-wrap {
    display:flex;
    gap:20px;
    cursor:pointer;
}

.vs-detail-item .vs-detail-wrap .vs-detail-thumnail {
    display:flex;
    position:relative;
    width:120px;
    height:120px;
    border-radius: var(--obj-size-small);
    overflow:hidden;
    flex-shrink: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: -150px center;
}

.vs-detail-item .vs-detail-wrap .vs-detail-txt {
    display: -webkit-box;
    width:calc(100% - 140px);
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    margin-bottom:10px;
    align-self:center;
    font-weight: 700;
}

/* modal scroll css */

.visual-detail-modal .vs-modal-content::-webkit-scrollbar {
    background:transparent;
    width:8px;
}

.visual-detail-modal .vs-modal-content::-webkit-scrollbar-thumb {
    background: var(--color-line);
    width:6px;
    border-radius: var(--obj-size-small);
}

.visual-detail-modal .vs-modal-content::-webkit-scrollbar-track {
    background: #fff;
}
